.link {
	stroke: #000000;
	stroke-opacity: 1;
}
.link.read {
	stroke: #ff8040;
	stroke-opacity: 0.7;
}
.link.write {
	stroke-opacity: 1;
	stroke: #8000ff;
}
.node {
	fill-opacity: 0.7;
	stroke: #F26868;
	stroke-width: 0.5px;
	stroke-opacity: 1;
	fill: #FFFFFF;
}
.nodetext {
	text-anchor: middle;
	fill-opacity: 0.8;
	stroke-width: 0.5px;
	stroke-opacity: 1.0;
	font-size: 15px;
	pointer-events: none;
	fill: #008A45;
	stroke: #000000;
}
#slider {
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	border-radius: 25px;
	width: 15px;
	position: absolute;
	height: 200px;
	background-color: #FFFFFF;
	box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5), 0 1px 0 0px rgba(250, 250, 250, .5);
	left: 20px;
	top: 20px;
}
body {
	font-family: sans-serif;
	overflow: hidden;
	background-color: #FFFFFF;
	width: 1280px;
	height: 800px;
}

